In [1]:
# define function 'say_hello' so it prints 'hello' when called
def say_hello():
    print('Hello!')

In [2]:
# call the function
say_hello()

Hello!

In [3]:
# def function 'say_something' so it prints whatever is passed
def say_something(something):
    print(something)

In [4]:
# call the function
say_something('hello world')

hello world

In [5]:
jane_says = "hey i'm jane. i'm learning python"
say_something(jane_says)

hey i'm jane. i'm learning python

In [6]:
# def func that calc perc of students that passed math
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [7]:
passing_math_count = 29370
total_student_count = 39170

In [8]:
# call the function
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [9]:
# list of my grades
my_grades = ['B', 'C', 'B', 'D']

In [10]:
# import pandas
import pandas as pd

# convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [11]:
# change grades up one letter grade
my_grades.map({'B':'A', 'C':'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [12]:
# using format() function
my_grades2 = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades2:
    print("{:.0f}".format(grade))

92
85
87
98

In [13]:
my_grades2

[92.34, 84.56, 86.78, 98.32]

In [14]:
my_grades3 = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades3

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [15]:
# format to nearest whole number
my_grades3.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object